@font-face {
  font-family: 'menu_icons';
  src: url('fonts/menu_icons.eot?4mzrmr');
  src: url('fonts/menu_icons.eot?4mzrmr#iefix') format('embedded-opentype'), url('fonts/menu_icons.ttf?4mzrmr') format('truetype'), url('fonts/menu_icons.woff?4mzrmr') format('woff'), url('fonts/menu_icons.svg?4mzrmr#menu_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'menu_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-1:before {
  content: "\e900";
}
.icon-12:before {
  content: "\e901";
}
.icon-6:before {
  content: "\e902";
}
.icon-3:before {
  content: "\e903";
}
.icon-4:before {
  content: "\e908";
}
.icon-2:before {
  content: "\e905";
}
.icon-11:before {
  content: "\e906";
}
.icon-arrow:before {
  content: "\e907";
}
.icon-food:before {
  content: "\e904";
}
.drop {
  position: relative;
  min-height: 55px;
}
.drop > a {
  position: relative;
}
.drop > a:after {
  font-family: 'menu_icons' !important;
  content: "\e907";
  font-size: 10px;
  position: absolute;
  right: -15px;
  top: 0;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.drop:hover .menu_top {
  display: block;
}
.drop:hover > a {
  color: #6f5e91;
}
.drop_menu {
  position: absolute;
  background-color: white;
  min-width: 300px;
  display: inline-block;
}
.menu_top {
  top: 54px;
  left: -105px;
  display: none;
}
.menu_top:hover {
  display: block;
}
.head-nav .menu_left {
  top: 0;
  left: 298px;
  display: none;
  height: calc(100% - 15px);
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  padding-top: 15px;
  padding-left: 30px;
  background-color: #f5f5f5;
}
.head-nav .menu_left li {
  margin-right: 0;
  width: 48%;
  padding-right: 3%;
  min-height: 20px;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.head-nav .menu_left li a {
  color: #ed1e79;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  text-transform: none;
}
.head-nav .menu_left:hover {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.head-nav .menu_icon {
  transition: height .5s;
}
.head-nav .menu_icon > li {
  width: 100%;
  margin-right: 0;
}
.head-nav .menu_icon > li span {
  min-height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777777;
  font-size: 14px;
  text-transform: uppercase;
  transition: color .3s;
  padding-left: 66px;
  position: relative;
  width: calc(100% - 66px);
}
.head-nav .menu_icon > li span:before {
  position: absolute;
  font-size: 25px;
  left: 20px;
  top: 11px;
}
.head-nav .menu_icon > li span:after {
  font-family: 'menu_icons';
  font-weight: bold;
  content: "\e907";
  font-size: 10px;
  position: absolute;
  right: 30px;
  top: calc(50% - 5px);
}
.head-nav .menu_icon > li:hover span {
  color: black;
  cursor: pointer;
  background-color: #f5f5f5;
}
.head-nav .menu_icon > li:hover span:after,
.head-nav .menu_icon > li:hover span:before {
  color: #ed1e79;
}
.head-nav .menu_icon > li:hover span + .menu_left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 650px) {
  .drop {
    min-height: inherit;
  }
  .drop > a:after {
    content: "";
  }
  .menu_top {
    display: none!important;
  }
}

/*# sourceMappingURL=drop_menu.css.map */